.spotifyButton {
  background-color: var(--spotify-green);
  color: white;
  font-size: 18px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  transition-property: background-color, border-color, color, box-shadow, filter,
    -webkit-filter;
  transition-duration: 0.5s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.spotifyButton:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.61);
}
